body {
    background-color: white;
    color: black;
}

#back {
    margin: 0px;
    width: 77px;
    height: 77px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#back:hover {
    background-color: aqua;
    color: black;
}

#back:active {
    background-color: darkcyan;
    color: white;
}

#home {
    margin: 0px;
    width: 85px;
    height: 77px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#home:hover {
    background-color: aqua;
    color: black;
}

#home:active {
    background-color: darkcyan;
    color: white;
}

#top {
    align-items: left;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: yellowgreen;
    color: black;
    font-size: 19px;
    cursor: pointer;
}

#top:hover {
    background-color: aqua;
    color: black;
}

#top:active {
    background-color: darkcyan;
    color: white;
}

#powered {
    color: gray;
    cursor: pointer;
    float: right;
    font-size: 21px;
    text-decoration-line: none;
}

#powered:hover {
    color: blue;
}

#powered:active {
    color: darkcyan;
}

select {
    font-size: 21px;
}

#get_data {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: aquamarine;
    color: black;
    font-size: 19px;
    cursor: pointer;
}

#get_data:hover {
    background-color: aqua;
    color: black;
}

#get_data:active {
    background-color: darkcyan;
    color: white;
}

#view_all {
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: greenyellow;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#view_all:hover {
    background-color: aqua;
    color: black;
}

#view_all:active {
    background-color: darkcyan;
    color: white;
}

.warning {
    border: 2px solid red;
    background-color: lightpink;
    border-collapse: collapse;
    font-size: 25px;
    color: darkred;
    width: 100%;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
    width: 100%;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 25px;
}

#index {
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: greenyellow;
    color: black;
    font-size: 19px;
    cursor: pointer;
}

#index:hover {
    background-color: aqua;
    color: black;
}

#index:active {
    background-color: darkcyan;
    color: white;
}

#top{
    align-items: left;
    width: 123px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: yellowgreen;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

#top:hover{
    background-color: aqua;
    color: black;
}

#top:active{
    background-color: darkcyan;
    color: white;
}