body {
    background-color: white;
    color: black;
    text-align: center;
}

#back{
    margin: 0px;
    width: 77px;
    height: 77px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#back:hover{
    background-color: aqua;
    color: black;
}

#back:active{
    background-color: darkcyan;
    color: white;
}

#home {
    margin: 0px;
    width: 85px;
    height: 77px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#home:hover {
    background-color: aqua;
    color: black;
}

#home:active {
    background-color: darkcyan;
    color: white;
}

.lang {
    margin: 5px;
    width: 400px;
    height: 150px;
    border: none;
    border-radius: 7px;
    background-color: greenyellow;
    color: black;
    font-size: 55px;
    cursor: pointer;
}

.lang:hover {
    background-color: aqua;
    color: black;
}

.lang:active {
    background-color: darkcyan;
    color: white;
}

#powered {
    color: gray;
    cursor: pointer;
    font-size: 21px;
    text-decoration-line: none;
}

#powered:hover {
    color: blue;
}

#powered:active {
    color: darkcyan;
}

#lang{
    align-items: left;
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

#lang:hover{
    background-color: aqua;
    color: black;
}

#lang:active{
    background-color: darkcyan;
    color: white;
}