body {
    background-color: white;
    color: black;
}

#back {
    margin: 0px;
    width: 77px;
    height: 77px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#back:hover {
    background-color: aqua;
    color: black;
}

#back:active {
    background-color: darkcyan;
    color: white;
}

#home {
    margin: 0px;
    width: 85px;
    height: 77px;
    border: none;
    border-radius: 7px;
    background-color: green;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#home:hover {
    background-color: aqua;
    color: black;
}

#home:active {
    background-color: darkcyan;
    color: white;
}

.link {
    color: blue;
    cursor: pointer;
    text-decoration-line: none;
}

.link:hover {
    color: aqua;
}

.link:active {
    color: darkcyan;
}