body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
}

button {
    margin: 5px;
    width: 400px;
    height: 150px;
    border: none;
    border-radius: 7px;
    background-color: greenyellow;
    color: black;
    font-size: 55px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
    color: black;
}

button:active {
    background-color: darkcyan;
    color: white;
}